html,body{
	margin:0;
	font-family:"courier";
	font-size:30px;

}
body{
	max-width:100%;
	max-height:100%;
}

#flex-container{
	margin-top:30px;

	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: white;
}

#error-console{

	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #E9E9E9;

	width:100%;
	height:100%;
}

#title{
	font-size:55px;
}

#grid-container{

	margin-top: 30px;
	margin-bottom:30px;
	display:grid;
	align-content: center;
	justify-items: center;
	text-align:center;

	width:60vh;
	height:60vh;
	border: 3px solid black;
	margin-bottom:30px;

	grid-template-columns: 15fr 15fr 15fr 15fr; 
	grid-template-rows: 10fr 10fr 10fr 10fr 10fr 10fr;


}

.grey{
	background-color: #E9E9E9;
}

#display{

	width:100%;
	height:100%;
	grid-column:1/4;
	border: 1px solid black;
	text-align:right;

	
	   white-space: pre-wrap;      /* CSS3 */   
	   white-space: -moz-pre-wrap; /* Firefox */    
	   white-space: -pre-wrap;     /* Opera <7 */   
	   white-space: -o-pre-wrap;   /* Opera 7 */    
	   word-wrap: break-word;      /* IE */


}

#delete{
	
	grid-column:4/5;
	border: 1px solid black;
	width:100%;
	height:100%;
}



#clear{

	grid-column:1/2;
	width:100%;
	height:100%;
	border: 1px solid black;
	
}

#power{
	grid-column:2/3;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#factorial{
	grid-column:3/4;
	width:100%;
	height:100%;
	border: 1px solid black;

}
#divide{
	grid-column:4/5;
	width:100%;
	height:100%;
	border: 1px solid black;
}

#seven{

	grid-column:1/2;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#eight{
	grid-column:2/3;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#nine{
	grid-column:3/4;
	width:100%;
	height:100%;
	border: 1px solid black;

}
#multiply{
	grid-column:4/5;
	width:100%;
	height:100%;
	border: 1px solid black;
}

#four{
	grid-column:1/2;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#five{
	grid-column:2/3;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#six{
	grid-column:3/4;
	width:100%;
	height:100%;
	border: 1px solid black;

}
#subtract{
	grid-column:4/5;
	width:100%;
	height:100%;
	border: 1px solid black;
}

#one{
	grid-column:1/2;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#two{
	grid-column:2/3;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#three{
	grid-column:3/4;
	width:100%;
	height:100%;
	border: 1px solid black;

}
#add{
	grid-column:4/5;
	width:100%;
	height:100%;
	border: 1px solid black;
}

#plusminus{
	grid-column:1/2;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#zero{
	grid-column:2/3;
	width:100%;
	height:100%;
	border: 1px solid black;
}
#decimal{
	grid-column:3/4;
	width:100%;
	height:100%;
	border: 1px solid black;

}
#equal{
	grid-column:4/5;
	width:100%;
	height:100%;
	border: 1px solid black;
}

.all:hover{
	font-size:40px;
}



